/* TAGS */
body {
  width: 170px;
  margin-left: 2px;
  margin-right: 2px;

  color: white;
  background-color: #13265C   ;
  text-align: center;
  font-size: 14px;
}

h2 {
  margin-top: 0;
  text-decoration: underline;
}

h3 {
  margin: 0;
}

a {
  color: white;
}

button {
  margin-top: 5px;
  font-size: 20px;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: wheat;
}

/* CLASSES / IDS */
#errors {
  margin-top: 5px;
  padding: 3px;

  color: black;
  font-weight: bold;
}

.error {
  font-size: 18px;
  background-color: #FB5B08;
  display: none;
}

.success {
  font-size: 14px;
  background-color: #71DF01;
  display: none;
}

.mineSettingContainer {
  font-size: 16px;
  border: wheat 3px solid;
  border-top: wheat 1px solid;
  border-radius: 15px;
  padding: 5px;
}

.mineSettingInput {
  font-size: 20px;
  width: 35px;
  height: auto;
}

.bottomDivContainer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin-top: 3px;
}

#startButton {
  background-color: #71DF01;
  margin-left: 5px;
  margin-right: 5px;
}

#stopButton {
  background-color: #FB5B08;
  font-size: 18px;
  margin-right: 10px;
}

/* SETTINGS */
#settingsToggle {
  width: 32px;
  height: 32px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -16px;
  margin-top: -16px;
}

#settingsContainer {
  margin-top: 5px;
}

.setting {
  background-color: rgb(20, 20, 20);
  margin: 2px;
}

#ignoreFirstMines {
  display: inline;
  width: 70%;
}

/* FACTIONS */
.factionsContainer {
  border: wheat 3px solid;
  border-bottom: wheat 1px solid;
  border-radius: 15px;
}

#factionList {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.factionContainer {
  position: relative;
  cursor: default;
}

.factionImg {
  width: 66px;
  height: 66px;
}

.check {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  filter: drop-shadow( 1px 1px 5px black );
  display: none;
  transform: translate(-50%, -50%);
}
