body {
  width: 150px;
  height: 10%;

  background-color: grey;
  text-align: center;
  font-size: 14px;
}

h2 {
  color: white;
  text-decoration: underline;
}

a {
  color: white;
}

button {
  margin-top: 5px;
  font-size: 20px;
}

#typesList {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.typeContainer {
  position: relative;
}

.typeImg {
  width: 66px;
  height: 66px;
}

.check {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  filter: drop-shadow( 1px 1px 5px #000 );
  display: none;

  transform: translate(-50%, -50%);
}

.error {
  margin-top: 5px;
  padding: 3px;

  font-size: 18px;
  background-color: darkred;
  color: white;
  display: none;
}

.success {
  margin-top: 5px;
  padding: 3px;

  font-size: 14px;
  background-color: green;
  color: white;
  display: none;
}

.settingsContainer {
  background-color: darkslategray;
  color: white;
}
