body {
  width: 150px;
  height: 10%;

  background-color: grey;
  text-align: center;
  font-size: 14px;
}

h2 {
  color: white;
  text-decoration: underline;
}

a {
  color: white;
}

button {
  margin-top: 5px;
  font-size: 20px;
}

#typesList {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.typeImg {
  width: 50px;
  height: 50px;
}

.error {
  margin-top: 5px;
  padding: 3px;

  font-size: 18px;
  background-color: darkred;
  color: white;
  display: none;
}
